* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
